* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

@font-face {
  font-family: 'Italic-VariableFont';
  src: url(assets/fonts/WorkSans-Italic-VariableFont_wght.ttf) format('truetype');
  font-weight: 400, 600, 700; 
  font-style: normal;
} 

@font-face {
  font-family: 'VariableFont';
  src: url(assets/fonts/WorkSans-VariableFont_wght.ttf) format('truetype');
  font-weight: 400, 600, 700; 
  font-style: normal;
}

body {
  background-color: hsl(275, 100%, 97%);
  position: relative; 
  max-width: 100%; /* Make it fully responsive */
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-size: 16px; /* Base font size */
}

.backgroundImg {
  width: 100%; 
  height: auto; 
}

.container {
  max-width: 500px;
  margin: -150px auto 0; 
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; 
  z-index: 1; 
  padding: 20px; 
  width: 90%; 
  height: auto; 
}

.FAQs {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
}

.icon-star {
  width: 8%;
  height: auto; 
  margin-right: 15px;
  margin-left: 5px; 
}

h1 {
  color: hsl(292, 42%, 14%);
  font-family: 'VariableFont';
  font-weight: 700;
  font-size: 3rem; 
}

.color {
  color: hsl(292, 42%, 14%);
  font-family: 'VariableFont';
  font-size: 1rem; 
  font-weight: 600;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  display: block;
  max-width: 100%; 
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.dropdown-content {
  display: none; 
  text-align: center;
  color: hsl(292, 16%, 49%);
  font-size: 1rem; 
  font-family: 'VariableFont';
  font-weight: 400;
  text-align: left;
  line-height: 1.4;
}

.dropdown-content td {
  padding-top: 10px; 
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px hsl(292, 16%, 49%);
}

.show {
  display: table-row; 
}


.attribution { 
  font-size: 0.7rem; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 768px) {
  .container {
    width: 50%; 
    margin: -70px auto 0; 
  }

  .icon-star {
    width: 8%; 
  }

  h1 {
    font-size: 2rem; 
  }

  .color {
    font-size: 0.9rem; 
  }

  .dropdown-content{
    font-size: 0.9rem;
  }

  .image-button img{
    width: 40px;
    height: auto;
  }
}