* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body {
    background-color: hsl(275, 100%, 97%);
    position: relative; /* Positioning context for absolute children */
    max-width: 144opx;
}

.backgroundImg {
    width: 100%; /* Ensure full width */
    height: auto; /* Maintain aspect ratio */
}

.container {
    max-width: 500px;
    margin: -50px auto 0; /* Pull the container up over the image */
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure it sits above the background */
    z-index: 1; /* Place above the background */
    padding: 20px; /* Optional: add some padding for content */
}


  .FAQs {
    display: flex;
    margin-left: 5%;
  }

  .icon-star {
    width: 5%;
    height: auto; 
  }

  h1 {
    color: hsl(292, 42%, 14%);
  }

  .image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .image-button img {
    display: block;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .dropdown-content {
    display: none;
    padding: 10px;
  }
  
  .show {
    display: table-row;
  }

  .solid{
    border-top: 3px solid #bbb;
  }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }